table.dataTable {
  padding-top: 15px;
}

.dataTables_length,
.dataTables_filter {
  padding-top: 35px;
}
#transparentDiv {
  background-color: white;
  padding: 20px;
}

tr:hover {
  cursor: pointer;
}
